body{
    background: #fff;
}

.breadcrum{
    padding: 10px 20px;
    font-size: 12px;
    color: #565656;
}
.product-display{
    min-height: 100%;
    padding: 10px 20px;
    display: flex;
}
.product-d-image{
    display: flex;
    gap: 10px;
}
.product-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-icons img{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}
.product-d-details{
    margin: 0 30px;
}
.product-title{
    font-size: 25px;
}
.brand-store{
    margin-top: 5px;
    color: #007185;
    font-size: 14px;
}
.product-rating{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-rating div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-rating p{
    color: #007185;
}
.product-rating p span{
    color: #fff;
    background: #c73500;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 14px;
}
.product-rating h5{
    font-weight: 400;
}
.product-price{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product-price div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;   
}
.product-price div p{
    font-size: 26px;
    color: #c73500;
}
.product-price div h1{
    font-size: 26px;
    font-weight: 500;
}
.product-price div h5{
    color: #565656;
    font-weight: 400;
}
.product-price div h5 span{
    text-decoration: line-through;
}
.product-price p span{
    color: #007185;
}
